@import "tailwindcss";

@theme {
  /* Custom breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
}

@layer base {
  body {
    @apply bg-slate-100 text-slate-700;
  }

  h2 {
    @apply text-3xl font-bold text-black;
  }

  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply font-bold my-4;
  }

  label {
    @apply font-bold text-sm block mt-5 mb-1;
  }

  input {
    @apply focus:outline-slate-500 px-4 py-1.5 bg-slate-200 rounded-lg w-full;
  }

  
}

@layer components {
  .btn {
    @apply px-4 py-1.5 rounded-lg cursor-pointer hover:scale-105;
  }

  .pry-btn {
    @apply bg-slate-100 hover:text-slate-200 hover:bg-slate-700;
  }

  .sec-btn {
    @apply bg-slate-800 text-slate-100 border-slate-800;
  }

  .step {
    @apply flex flex-col items-center shadow-2xl p-4 rounded-2xl max-w-xs mx-auto;
  }

  .icons {
    @apply text-white  text-xl w-16 h-16 px-4 rounded-full;
  }

  .number {
    @apply absolute -top-2 right-0 rounded-full px-1 border-2  bg-white;
  }

  .active {
    @apply bg-slate-50 mx-3 py-3  rounded-full 
  }
}
